################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lessons/.vs
/Lessons/Lesson 1/bin
/Lessons/Lesson 1/obj
/Lessons/Lessons/bin/Debug/net8.0
/Lessons/Lessons/obj
