################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lessons/.vs
/Lessons/Lessons/bin/Debug/net8.0
/Lessons/Lessons/obj
/Lessons/**/bin
/Lessons/**/obj
